include ../mixins/list
footer(class="container-fluid")
    div(class="container")
        div(class="row")
            div(class="col-lg-3 col-md-3 col-sm-4 menu")
                ul
                    li.head
                        a(href="#")="Услуги"
                    li
                        a(href="#")="Проектирование"
                    li
                        a(href="#")="Предпроектная стадия"
                    li
                        a(href="#")="Экологические услуги"
                    li
                        a(href="#")="Инженерные услуги"
                    li
                        a(href="#")="Прохождение и согласование экспертиз"
                    li
                        a(href="#")="Инвестиционная стадия "
                    li
                        a(href="#")="Юридическое сопровождение "
                    li
                        a(href="#")="Изыскания Управление закупками и СРМ "
                    li
                        a(href="#")="Технический и авторский надзор"
                    li
                        a(href="#")="Помощь ввода объекта в эксплуатацию"

            div(class="col-lg-3 col-md-3 col-sm-4 menu")
                ul
                    li.head
                        a(href="#")="Объекты"
                    li
                        a(href="#")="Котельные"
                    li
                        a(href="#")="ТЭЦ "
                    li
                        a(href="#")="Подстанции ЛЭП "
                    li
                        a(href="#")="Комплексная автоматизация (АСУТП) "
                    li
                        a(href="#")="Возобновляемая энергетика"
                    li
                        a(href="#")="Промышленные предприятия "
                    li
                        a(href="#")="Торговые центры и магазины "
                    li
                        a(href="#")="Офисные центры, гостиницы "
                    li
                        a(href="#")="Очистные сооружения, водоподготовка "
                    li
                        a(href="#")="Логистические центры и склады"
            div(class="col-lg-3 col-md-3 col-sm-4 col-12 menu")
                ul
                    li.head
                        a(href="#")="О компании"
                    li
                        a(href="#")="Профиль компании"
                    li
                        a(href="#")="Заказчики и партнёры "
                    li
                        a(href="#")="Лицензии и сертификаты"
                    li
                        a(href="#")="Инвесторам"
                ul
                    li.head
                        a(href="#")="Портфолио"
                    li
                        a(href="#")="Выполненные объекты"
                    li
                        a(href="#")="Реализованные услуги"
                ul
                    li.head
                        a(href="#")="Новости"

            div(class="col-lg-3 col-md-4 col-sm-4 col-12 menu")
                ul
                    li.head
                        a(href="#")="Карьера"
                    li
                        a(href="#")="О работе в компании"
                    li
                        a(href="#")="Вакансии"
                    li
                        a(href="#")="Стажировка для студентов"
                    li
                        a(href="#")="Жизнь в стиле ЭНЭКА"
                ul
                    li.head
                        a(href="#")="Услуги в России"
                    li
                        a(href="#")="Внешнеэкономическая деятельность"
                ul
                    li.head
                        a(href="#")="bim"
                    li.head
                        a(href="#")="контакты"

        div(class="row product_footer")
            div(class="col-lg-4 col-md-4 title")="Внутренние продукты компании «Энэка»"
            div(class="col-lg-8 col-md-8 list")
                ul
                    li
                        a(href="#")="ENECA.ru"
                    li
                        a(href="#")="ENECA.eu"
                    li
                        a(href="#")="ENECA.by"
                    li
                        a(href="#")="citron.by"
                    li
                        a(href="#")="eneca.ch"
        div(class="row informer")
            div(class="col-lg-3 col-md-3 logo")
                a(href="#")
                    img(src="images/logo_white.svg")
            div(class="col-lg-3 col-md-3 address")
                ul
                    li="220125, г. Минск,"
                    li="пр-т Независимости 177,  помещение 1а"
                    li
                        a(href="#")="info1@eneca.by"
            div(class="col-lg-2 col-md-2 phones")
                ul
                    li
                        a(href="tel:+ 375 17 393 27 88")="+ 375 17 393 27 88"
                    li
                        a(href="tel:+ 375 29 117 38 63")="+ 375 29 117 38 63"
                    li
                        a(href="tel:+ 375 29 117 38 63")="+ 375 29 671 97 36"
            div(class="col-lg-2 col-md-2 phones")
                ul
                    li
                        a(href="tel:+ 375 17 393 27 88")="+ 375 29 255 78 33"
                    li="Российский номер:"
                    li
                        a(href="tel:+7 499 348 23 19")="+7 499 348 23 19"
            div(class="col-lg-2 col-md-2 social")
                ul
                    li
                        a(href="#")
                            i(class="icon fb")
                    li
                        a(href="#")
                            i(class="icon inst")
                    li
                        a(href="#")
                            i(class="icon linked")
                    li
                        a(href="#")
                            i(class="icon tube")
        div(class="row system")
            div(class="col-lg-12 dev")
                p="Copyright Eneca 2009–2019, All Rights Reserved"
                p Разработка <i class="icon dev"></i> <a href="#">GRIZZLY DIGITAL COMPANY</a> & Лебецкий Александр Brunonovich





//include ./../mixins/modal_dark
//+modal_dark(2,"sm")
//+modal_dark(3,"")
//+modal_dark(4,"")
//+modal_dark(5,"")
//+modal_dark(6,"")
//+modal_dark(7,"slide")