include ../mixins/list
header(class="container-fluid header")
    div(class="container")
        div(class="row")
            section(class="col-lg-3 logo")
                a(href="/")
                    img(src="images/logo.svg")
            section(class="col-lg-9 head_main")
                div(class="row")
                    section(class="col-lg-12")
                        div(class="row")
                            section(class="col-lg-5 phones")
                                div(class="title")="Отдел продаж"
                                ul
                                    li
                                        a(href="tel:+375 (17) 393-27-88")="+375 (17) 393-27-88"
                                    li
                                        a(href="tel:+375 (29) 117-38-63")="+375 (29) 117-38-63"
                            section(class="col-lg-2 rus")
                                div(class="title")="Российская линия"
                                ul
                                    li
                                        a(href="tel:+7 (499) 348 23 19 ")="+7 (499) 348 23 19 "
                            section(class="col-lg-4 address")
                                div(class="title")
                                    a(href="#")="info@eneca.by"
                                ul
                                    li="г. Минск, пр-т Независимости, 177, пом. 1а"
                            section(class="col-lg-1 lang")
                                div(id="lang")
                                    p="rus"
                                    i(class="icon arrow-lang")
                                div(class="lang_more")
                                    ul
                                        li
                                            a(href="#")="RUS"
                                        li
                                            a(href="#")="ENG"
                    section(class="col-lg-12")
                        div(class="row")
                            nav(class="col-lg-12 top_menu_nav")
                                ul
                                    li(class="click")
                                        a(href="#")="О компании"
                                        span
                                        div(class="small")
                                            ul
                                                li
                                                    a(href="#")="Профиль компании"
                                                li
                                                    a(href="#")="Заказчики и партнеры"
                                                li
                                                    a(href="#")="Лицензии и сертификаты"
                                                li
                                                    a(href="#")="Инвесторам"
                                    li(class="click")
                                        a(href="#")="Услуги"
                                        span
                                        div(class="big")
                                            div(class="container")
                                                div(class="row items")
                                                    div(class="col-lg-12" data-page="1")
                                                        div(class="row")
                                                            div(class="col-lg-3 col-md-3")
                                                                div(class="title")
                                                                    a(href="#")="Предпроектная стадия"
                                                                ul
                                                                    li
                                                                        a(href="#")="Профиль компании"
                                                                    li
                                                                        a(href="#")="Заказчики и партнеры"
                                                                    li
                                                                        a(href="#")="Лицензии и сертификаты"
                                                                    li
                                                                        a(href="#")="Инвесторам"
                                                                div(class="title")
                                                                    a(href="#")="Инвестиционная стадия"
                                                                ul
                                                                    li Бизнес-план
                                                                        ol
                                                                            li
                                                                                a(href="#")="развития предприятия"
                                                                            li
                                                                                a(href="#")="инвестиционного проекта"
                                                                            li
                                                                                a(href="#")="для вступления в ПВТ"
                                                                    li Помощь в привлечении инвесторов
                                                                        ol
                                                                            li
                                                                                a(href="#")="Привлечение гранта ЕБРД"
                                                            div(class="col-lg-3 col-md-3")
                                                                div(class="title")
                                                                    a(href="#")="Инвестиционная стадия"
                                                                ul
                                                                    li Бизнес-план
                                                                        ol
                                                                            li
                                                                                a(href="#")="развития предприятия"
                                                                            li
                                                                                a(href="#")="инвестиционного проекта"
                                                                            li
                                                                                a(href="#")="для вступления в ПВТ"
                                                                    li Помощь в привлечении инвесторов
                                                                        ol
                                                                            li
                                                                                a(href="#")="Привлечение гранта ЕБРД"

                                                            div(class="col-lg-3 col-md-3")
                                                                div(class="title")
                                                                    a(href="#")="Предпроектная стадия"
                                                                ul
                                                                    li
                                                                        a(href="#")="Профиль компании"
                                                                    li
                                                                        a(href="#")="Заказчики и партнеры"
                                                                    li
                                                                        a(href="#")="Лицензии и сертификаты"
                                                                    li
                                                                        a(href="#")="Инвесторам"
                                                                div(class="title")
                                                                    a(href="#")="Инвестиционная стадия"
                                                                ul
                                                                    li Бизнес-план
                                                                        ol
                                                                            li
                                                                                a(href="#")="развития предприятия"
                                                                            li
                                                                                a(href="#")="инвестиционного проекта"
                                                                            li
                                                                                a(href="#")="для вступления в ПВТ"
                                                                    li Помощь в привлечении инвесторов
                                                                        ol
                                                                            li
                                                                                a(href="#")="Привлечение гранта ЕБРД"
                                                            div(class="col-lg-3 col-md-3")
                                                                div(class="title")
                                                                    a(href="#")="Инвестиционная стадия"
                                                                ul
                                                                    li Бизнес-план
                                                                        ol
                                                                            li
                                                                                a(href="#")="развития предприятия"
                                                                            li
                                                                                a(href="#")="инвестиционного проекта"
                                                                            li
                                                                                a(href="#")="для вступления в ПВТ"
                                                                    li Помощь в привлечении инвесторов
                                                                        ol
                                                                            li
                                                                                a(href="#")="Привлечение гранта ЕБРД"

                                                    div(class="col-lg-12" data-page="2")
                                                        ul
                                                            li
                                                                a(href="#")="Профил22222ь компании"
                                                            li
                                                                a(href="#")="Заказч3333ики и партнеры"
                                                            li
                                                                a(href="#")="Лиценз444ии и сертификаты"
                                                            li
                                                                a(href="#")="Инвестasdasdорам"
                                                div(class="row pages")
                                                    div(class="col-lg-12")
                                                        //сюда на всталлять ничего. js сам посчитает количество и выведит
                                                            подсчет идет количества .row в div(class="row items")
                                                        ul
                                                            li(class="pager_left")="◄"
                                                            li(class="pager_active")=""
                                                            li.sep="/"
                                                            li(class="page_total")=""
                                                            li(class="pager_right")="►"
                                    li(class="click")
                                        a(href="#")="Объекты"
                                        span
                                        div(class="big")
                                            div(class="container")
                                                div(class="row items")
                                                    div(class="col-lg-12" data-page="1")
                                                        div(class="row")
                                                            div(class="col-lg-3 col-md-3")
                                                                div(class="title")
                                                                    a(href="#")="Промышленность"
                                                                ul
                                                                    li
                                                                        a(href="#")="Предприятия пищевой промышленности"
                                                                    li
                                                                        a(href="#")="Предприятия мусоропереработки и мусоросортировки"
                                                                    li
                                                                        a(href="#")="Деревообрабатывающие предприятия"
                                                                    li
                                                                        a(href="#")="Инвесторам"
                                                                div(class="title")
                                                                    a(href="#")="Инвестиционная стадия"
                                                                ul
                                                                    li Бизнес-план
                                                                        ol
                                                                            li
                                                                                a(href="#")="развития предприятия"
                                                                            li
                                                                                a(href="#")="инвестиционного проекта"
                                                                            li
                                                                                a(href="#")="для вступления в ПВТ"
                                                                    li Помощь в привлечении инвесторов
                                                                        ol
                                                                            li
                                                                                a(href="#")="Привлечение гранта ЕБРД"
                                                            div(class="col-lg-3 col-md-3")
                                                                div(class="title")
                                                                    a(href="#")="Инвестиционная стадия"
                                                                ul
                                                                    li Бизнес-план
                                                                        ol
                                                                            li
                                                                                a(href="#")="развития предприятия"
                                                                            li
                                                                                a(href="#")="инвестиционного проекта"
                                                                            li
                                                                                a(href="#")="для вступления в ПВТ"
                                                                    li Помощь в привлечении инвесторов
                                                                        ol
                                                                            li
                                                                                a(href="#")="Привлечение гранта ЕБРД"

                                                            div(class="col-lg-3 col-md-3")
                                                                div(class="title")
                                                                    a(href="#")="Предпроектная стадия"
                                                                ul
                                                                    li
                                                                        a(href="#")="Профиль компании"
                                                                    li
                                                                        a(href="#")="Заказчики и партнеры"
                                                                    li
                                                                        a(href="#")="Лицензии и сертификаты"
                                                                    li
                                                                        a(href="#")="Инвесторам"
                                                                div(class="title")
                                                                    a(href="#")="Инвестиционная стадия"
                                                                ul
                                                                    li Бизнес-план
                                                                        ol
                                                                            li
                                                                                a(href="#")="развития предприятия"
                                                                            li
                                                                                a(href="#")="инвестиционного проекта"
                                                                            li
                                                                                a(href="#")="для вступления в ПВТ"
                                                                    li Помощь в привлечении инвесторов
                                                                        ol
                                                                            li
                                                                                a(href="#")="Привлечение гранта ЕБРД"
                                                            div(class="col-lg-3 col-md-3")
                                                                div(class="title")
                                                                    a(href="#")="Инвестиционная стадия"
                                                                ul
                                                                    li Бизнес-план
                                                                        ol
                                                                            li
                                                                                a(href="#")="развития предприятия"
                                                                            li
                                                                                a(href="#")="инвестиционного проекта"
                                                                            li
                                                                                a(href="#")="для вступления в ПВТ"
                                                                    li Помощь в привлечении инвесторов
                                                                        ol
                                                                            li
                                                                                a(href="#")="Привлечение гранта ЕБРД"

                                                    div(class="col-lg-12" data-page="2")
                                                        div(class="col-lg-3 col-md-3")
                                                            div(class="title")
                                                                a(href="#")="Инвестиционная стадия"
                                                            ul
                                                                li Бизнес-план
                                                                    ol
                                                                        li
                                                                            a(href="#")="развития предприятия"
                                                                        li
                                                                            a(href="#")="инвестиционного проекта"
                                                                        li
                                                                            a(href="#")="для вступления в ПВТ"
                                                                li Помощь в привлечении инвесторов
                                                                    ol
                                                                        li
                                                                            a(href="#")="Привлечение гранта ЕБРД"
                                                    div(class="col-lg-12" data-page="3")
                                                        div(class="col-lg-3 col-md-3")
                                                            div(class="title")
                                                                a(href="#")="Инвестиционная стадия"
                                                            ul
                                                                li Бизнес-план
                                                                    ol
                                                                        li
                                                                            a(href="#")="развития предприятия"
                                                                        li
                                                                            a(href="#")="инвестиционного проекта"
                                                                        li
                                                                            a(href="#")="для вступления в ПВТ"
                                                                li Помощь в привлечении инвесторов
                                                                    ol
                                                                        li
                                                                            a(href="#")="Привлечение гранта ЕБРД"
                                                        div(class="col-lg-3 col-md-3")
                                                            div(class="title")
                                                                a(href="#")="Инвестиционная стадия"
                                                            ul
                                                                li Бизнес-план
                                                                    ol
                                                                        li
                                                                            a(href="#")="развития предприятия"
                                                                        li
                                                                            a(href="#")="инвестиционного проекта"
                                                                        li
                                                                            a(href="#")="для вступления в ПВТ"
                                                                li Помощь в привлечении инвесторов
                                                                    ol
                                                                        li
                                                                            a(href="#")="Привлечение гранта ЕБРД"
                                                div(class="row pages")
                                                    div(class="col-lg-12")
                                                        ul
                                                            li(class="pager_left")="◄"
                                                            li(class="pager_active")=""
                                                            li.sep="/"
                                                            li(class="page_total")=""
                                                            li(class="pager_right")="►"
                                    li(class="click")
                                        a(href="#")="Карьера"
                                        span
                                        div(class="small")
                                            ul
                                                li
                                                    a(href="#")="О работе в компании"
                                                li
                                                    a(href="#")="Вакансии "
                                                li
                                                    a(href="#")="Стажировка для студентов "
                                                li
                                                    a(href="#")="жизнь в стиле энэка"
                                                li
                                                    a(href="#")="Обучение и развитие"
                                    li(class="click")
                                        a(href="#")="Услуги в России"
                                        span
                                        div(class="small")
                                            ul
                                                li
                                                    a(href="#")="услуги в России"
                                                li
                                                    a(href="#")="ВЭД"
                                    li()
                                        a(href="#")="Новости"
                                    li()
                                        a(href="#")="BIM"
                                    li()
                                        a(href="#")="Портфолио"
                                    li()
                                        a(href="#")="Контакты"
                                div(class="search" id="search")
                                    i(class="icon ico-search")
                                    div
                                        form
                                            input(type="text" placeholder="Что вы хотите найти?")